<!--Panel-->
<div class="panel panel-default">
  <div class="panel-heading main-color-bg">
    <h3 class="panel-title">Detalles sobre la pagina web</h3>
  </div>
  <div class="panel-body">
    <!--Boxes-->
    <div class="col-md-3">
      <a href="/adminUsers">
        <!--To pass something different that is not a literal number or string need to use the []  -->
        <app-box className= "glyphicon glyphicon-user"
                 [number] = totalUsers text = "Professores" ></app-box>
      </a>
    </div>

    <div class="col-md-3">
      <app-box className= "glyphicon glyphicon-list-alt"
               number =12 text = "Escuelas"></app-box>
    </div>

    <div class="col-md-3">
      <app-box className= "glyphicon glyphicon-pencil"
               number =33 text = "Post"></app-box>
    </div>

    <div class="col-md-3">
      <app-box className= "glyphicon glyphicon-stats"
               number = 12,334 text = "Visitors"></app-box>
    </div>
    <!--End Boxes-->
  </div>
</div>
