 <p class="page-header" style="font-size:35px;">Bienvenido a tu dashboard</p>


<!--Breadcrumb section  -->
<section class="breadcrumb" id="breadcrumb">
    <div class="row">
        <div style="margin-top: 10px;" class="col-md-9">
            <h4 class="active">Dashboard </h4>
        </div>
        <div style="margin-top: 10px;" class="col-md-3">
            <div class="dropdown create">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Opciones
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a [routerLink]="['/profile']" >Descarque las plantillas</a></li>
                    <li><a [routerLink]="['/users/upload']">Suba algun archivo</a></li>
                </ul>
            </div>
        </div>
</div>
</section> <!--End breadcrumb section -->
     

<h1 class="h1 text-center pad1">Calendario para Eco Escuelas</h1>
<app-user-timeline> </app-user-timeline>

<div class="row">
    <div class="col-md-6">
        <h1> Descarga <a [routerLink]="['/profile']">aqui</a> las plantillas de trabajo </h1>
    </div>
    <div class="col-md-6">
        <h1> Sube tus documentos terminados <a [routerLink]="['/users/upload']">aqui</a> </h1>
    </div>
</div>