
<!-- Modal -->
<div class="modal fade" id={{modalId}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Page</h4>
      </div> <!--End Modal Header -->
      <div class="modal-body">
        <!--Start Form  -->
        <div class="form-group">
          <label for="tittle">Page Tittle</label>
          <input type="text" class="form-control" placeholder="Page Tittle" name="" value="">
        </div>

        <div class="form-group">
          <label for="tittle">Page Body</label>
          <textarea name="editor1" class="form-control" placeholder="Page Body" rows="8" cols="80"></textarea>
        </div>

        <div class="checkbox">
          <label for="tittle">
            <input type="checkbox"name="" value=""> Published
        </label>
        </div>

        <div class="form-group">
          <label for="tittle">Meta tags</label>
          <input type="text" class="form-control" placeholder="Add Some Tags" name="" value="">
        </div>

        <div class="form-group">
          <label for="tittle">Meta Description</label>
          <input type="text" class="form-control" placeholder="Add Meta Description" name="" value="">
        </div>
        <!--End Form  -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="Submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
