<h2 class="page-header">Recupera tu Contraseña</h2>
<h4> &nbsp; &nbsp; Escribe tu direccion de electronico en el encasillado abajo y te estara llegando un correo electronico para cambiar la Contraseña</h4>
<form (submit)="  sendEmail()">
  <div style="width: 72%" class="form-group">
    <label for="email">Correo electronico</label>
    <input type="email" required [(ngModel)]="email" name="email" class="form-control" value="">
  </div>
  <input type="submit" class="btn btn-primary" value="Recuperar Contraseña">
</form>  
