<!--ngIf(ifStatement)- Make sure there's a user before showing html  -->
<div *ngIf="user" class="">
  <!--Embed the user name -->
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <!--username of the user  -->
    <li class="list-group-item">
      Username: {{user.username}}
    </li>
    <!--Email of the user  -->
    <li class="list-group-item">
      Email: {{user.email}}
    </li>
  </ul>
</div>

<div *ngIf="fileLink" class="">
  <h2>Template to download
      <a target="_blank" [href]=fileUrl download (click)="downloadLink()" >Template 1</a>
  </h2>
</div>

<div *ngIf="isDownloading" class="">
  <h2>Downloading Files</h2>
</div>
