<!--ngIf(ifStatement)- Make sure there's a user before showing html  -->
<div *ngIf="user" class="">
  <!--Embed the user name -->
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <!--username of the user  -->
    <li class="list-group-item">
      Username: {{user.username}}
    </li>
    <!--Email of the user  -->
    <li class="list-group-item">
      Email: {{user.email}}
    </li>
  </ul>
</div>

<div *ngIf="fileLink" class="">
  <h2>Template to download
      <a target="_blank" [href]=fileUrl download (click)="downloadLink()" >Template 1</a>
  </h2>
</div>

<div *ngIf="isDownloading" class="">
  <h2>Downloading Files</h2>
</div>


<!--Tabla de archivos para descargar-->
<!--Crear Componente aparte -->
<br>
<div class="row table-responsive">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <caption style="font-size:40px;">Descargar Archivos:</caption>
      <!--Header of the table  -->
      <tr>
        <th>Numero</th>
        <th>Nombre del Archivo</th>
        <th style="width:80px">Editar</th>
        <th style="width:80px">Eliminar</th>
        <th>Subido Por</th>
      </tr>
      <!--Rows of tables  -->
      <tr *ngFor="let file of listOfFileNames;let index = index" class="">
        <th scope="row">{{index + 1}}</th>
        <td colspan="">{{file.name}} </td>
        <!--Edit row  -->
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Edit" style="display:inline;float:left;"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil" style="font-size:12px;"></span></button></p>
        </td>
        <!--Delete Row  -->
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" > <span class="glyphicon glyphicon-trash" style="font-size:12px"></span></button></p>
        </td>
        <!--Subido Por Row  -->
        <td>

        </td>
      </tr> <!-- End of rows Tables -->
    </table>
  </div>
</div>

<h2 *ngIf="!listOfFileNames">No hay archivos para mostrar al momento</h2>
