<!--app navabr for every routes of the application  -->
<!--Este es el main file. Este File es llamado en el index.html como approot tag  -->
<app-navbar></app-navbar>
<div class="container">
  <!--Flash message mdules messages for error-->
  <flash-messages> </flash-messages>
  <!--This manage the route for the entire app
      Esto es lo que se encarga de mostrar todos los componentes (rutas)
      de la pagina web.
 -->
  <router-outlet ></router-outlet>
</div>

<!-- <footer id="footer" flex>
  <p>Copyright AdminStrap, &copy; 2017</p>
</footer> -->
