<div class="jumbotron text-center">
    <h1> Carpeta Electrónica para Eco Escuelas </h1>
    <p class="lead">Bienvenido a tu carpeta electrónica</p>
  <div>
    <a [routerLink] = "['/register']" class="btn btn-primary">Regístrate</a>
    <a [routerLink] = "['/login']" class="btn btn-default">Conéctate</a>
  </div>
  <br>
  <p  class="lead">Paga la membresia de Opas</p>
  <button [routerLink]="['/pay']" class="btn btn-primary">Paga aqui</button>

</div>


<!-- <div class="row">
  <div class="col-md-4 col-sm-4 col-sm">
    <h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using mongoose to organize models and query </p>
  </div>
  <div class="col-md-4 col-sm-4 col-sm">
    <h3>Angular-CLI</h3>
    <p>Angular-cli to generate components,services and more. Local dev server and easy</p>
  </div>
  <div class="col-md-4 col-sm-4 col-sm">
    <h3>JWT Tokens</h3>
    <p>Full feautured authentication using JSON web tokens. Login and store user data</p>
  </div>
</div> -->
