<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OPAS</a>
    </div>
  <div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-left">  -->
    <!--RouterLinkActive es para darle active a las clas cuando se de click en el navbar
        RouterLinkActiveOption = para que el tab correcto se marque active pq si no se marcan los dos nn -->
        <li [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}"> <a [routerLink] = "['/']">Inicio</a> </li>
   </ul>

  <ul class="nav navbar-nav navbar-right">
    <li *ngIf="authService.checkLoggedIn()&& isAdminRole()" [routerLinkActive]= "['active']" [routerLinkActiveOptions]= "{exact:true}"><a [routerLink]="['/adminDashboard']">Administrador</a></li>

    <li *ngIf="authService.checkLoggedIn()&& isAdminRole()" [routerLinkActive]= "['active']" [routerLinkActiveOptions]= "{exact:true}"><a [routerLink]="['/admin/upload']">Suba un modelo</a></li>

    <li *ngIf="authService.checkLoggedIn()" [routerLinkActive]= "['active']" [routerLinkActiveOptions]= "{exact:true}"><a [routerLink]="['/dashboard']">Dashboard</a></li>

    <li *ngIf="authService.checkLoggedIn()" [routerLinkActive]= "['active']" [routerLinkActiveOptions]= "{exact:true}"><a [routerLink]="['/profile']">Perfil</a></li>

    <li *ngIf="authService.checkLoggedIn() && !isAdminRole()" [routerLinkActive]= "['active']" [routerLinkActiveOptions]= "{exact:true}"><a [routerLink]="['/users/upload']">Subir un archivo</a></li>

    <!--click event  -->
    <li *ngIf="authService.checkLoggedIn()" > <a href="#" (click)="onLogoutClick()">Salir</a></li>

    <li *ngIf="!authService.checkLoggedIn()" [routerLinkActive]= "['active']" [routerLinkActiveOptions]= "{exact:true}"><a [routerLink]="['/login']">Conéctate</a></li>

    <li *ngIf="!authService.checkLoggedIn()" [routerLinkActive]= "['active']" [routerLinkActiveOptions]= "{exact:true}"><a [routerLink]= "['/register']">Regístrate</a></li>
 </ul>

</div>

  </div>
</nav>
