/* Custom Color*/
.main-color-bg{
  background-color: #e74c3c !important;
  border-color: #c0932b !important ;
  color: #ffffff !important;
}
 .panel-title{
   color: #ffffff;
 }

 .panel-heading{
   background-color: black ;
   border-color: black  ;
 }

/*.pagination{}*/
.center {
  margin-left: 200px;
}

/* Make Inout Search Field Smaller*/
.makeSmaller{
  height: 34px;
}
