<!--To add External Javscript file I need to add it to the script section angular-cli.json   -->

<div class="panel panel-default">
  <div class="panel-heading {{className}} ">
    <h3 class="panel-title ">{{text}}</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="showFilter" class="form-group">
      <!--Show Search Filter  -->
      <input id="filterInput" class="makeSmaller form-control" onkeyup="filterUsersByName()" type="text" placeholder="Search Filter" name="" value="">
    </div>
    <table id="userTable" class="table table-striped table-hover">
      <!-- Table Header -->
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Joined</th>
      </tr>
      <!--Table Body -->
    <tbody>
      <!-- Do a for loop to show the tables -->
      <tr *ngFor="let record of dataset; let ind = index">
          <!-- || - mean alternate text. is Like an If  -->
          <!-- <h1>{{i}} index</h1> -->
          <!--if index(i) is greater than 5 dont show more Table data  -->
          <!--if index > 6 render the tableDate but with a display set to none.That way the search filter will look for all the user in the db and not only the one that are showing in the table  -->
          <td style="display:none" *ngIf="ind > 5">{{record.name || "No name" }}</td>
           <td *ngIf="ind < 6">{{record.name || "No name" }}</td>

           <td style="display:none" *ngIf="ind > 5">{{record.email || "No email"}}</td>
           <td *ngIf="ind < 6">{{record.email || "No email"}}</td>

           <td style="display:none" *ngIf="(record.CreatedDate && ind > 5)">{{record.CreatedDate | date:'MMM dd' }} at {{record.CreatedDate | date:'hh:mm' }}
           </td>
           <!--Show this row if there's a date in the json  -->
           <td *ngIf="(record.CreatedDate && ind < 6)">{{record.CreatedDate | date:'MMM dd' }} at
             {{record.CreatedDate | date:'hh:mm' }}
          </td>
          <!--Alternate show this row if there is not a date in the json data  -->
          <td style="display:none" *ngIf="(!record.CreatedDate && ind > 5)"> No Date Provided</td>
          <td *ngIf="(!record.CreatedDate && ind < 6)"> No Date Provided</td>
      </tr>
    </tbody>
</table>
  <!--[(page)] - pa pasar la variable  -->
  <div *ngIf="showFilter" class=" text-center d-flex justify-content-center">
    <ngb-pagination [collectionSize]="70" [(page)]="currentPage" aria-label="Default pagination" (click) = "skipUser(currentPage)" size =""></ngb-pagination>
    <pre> users: {{showUsers}}</pre>
  </div>
  </div>
</div>

<!-- <tr>
  <table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{column.header}}</th>
    </tr>
  </thead>
  <tbody *ngFor="let row of dataset">
    <h1>{{row}}</h1>
    El row va a ser como si fuera user.persons.value -> row.value
    <tr>
      <td *ngFor="let column of columns">{{row[colum.value]}}</td>
  </tr>
  </tbody>
</table>



<div class="panel panel-default">
  <div class="panel-heading {{className}} ">
    <h3 class="panel-title ">{{text}}</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      Table Header
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Joined</th>
      </tr>
      <tr>
        <td> jose shus</td>
      </tr>

    </table>
   Do a for loop to show the tables
   <tbody>
  <tr *ngFor="let record of user;let i = index">
    <td>{{record.name}}</td>
    <td>{{record[i]}}</td>
    <td>{{record.email}}</td>
    <td>dec {{items}}</td>
  </tr>
</tbody>
  </div>
</div>

  <td>Jill Smith</td>
  <td>jillsmith@gmail.com</td>
  <td>Dec 12, 2016</td>
</tr>
<tr>
  <td>Smith Foster</td>
  <td>foster23@gmail.com</td>
  <td>Mar 12, 2016</td>
</tr>
<tr>
  <td>Julian Smith</td>
  <td>JualianSmith@gmail.com</td>
  <td>Feb 23, 2016</td>
</tr>
<tr>
  <td>John tue</td>
  <td>Johnutru@gmail.com</td>
  <td>Jul 2, 2016</td>

   <ng-template ngFor let-item [ngForOf]="createRange(5)" let-currentElementIndex="index+1">
    <th class="table-active"> {{name.headers[currentElementIndex - 1]}} </th>
  </ng-template>
</tr> -->
